<div class="panel panel-default" ng-controller="AdvertController">
	<button ng-click="tableParams.sorting({})" class="btn btn-primary pull-right">Zrušit třídění</button>
	<button ng-click="tableParams.filter({})" class="btn btn-primary pull-right">Zrušit filtr</button>
	<div class="panel-heading">
		<h4 class="panel-title">Inzeráty</h4>
	</div>

	<!-- Progress table -->
	<div class="table-responsive">
		<table class="table v-middle" datatable="" ng-table="tableParams" show-filter="true">
			<tbody>
			<tr ng-repeat="advert in $data">
				<td data-title="'Inzerát'" sortable="'advert'" filter="{ 'advert': 'text' }">
					{{ advert.advert }}
				</td>
				<td data-title="'Město'" sortable="'city'" filter="{ 'city': 'text' }">
					{{ advert.city }}
				</td>
				<td data-title="'Region'" sortable="'region.nazev'" filter="{ 'region.nazev': 'text' }">
					{{ advert.region.nazev }}
				</td>
				<td data-title="'Uživatel'" sortable="'userName'" filter="{ 'userName': 'text' }">
					{{ advert.userName }}
				</td>
				<td class="text-right">
					<a href="/#!/admin/adverts/{{ advert.userName }}/edit" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Upravit"><i class="fa fa-pencil"></i></a>
					<a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Smazat" data-ng-click="removeAdvertFromAdmin(advert._id, advert.userName);"><i
							class="fa fa-times"></i></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>